
<ol class="breadcrumb">
    <li class="active"><a href=/>Home</a></li>
</ol>


<%- partial ('partials/statusmessage.ejs') %>

<h2>Manage Courses</h2>
<button class="btn btn-success" id="addCourseButton">Add Course</button>
</br>
</br>
<table class="table table-striped table-bordered" id="courseTable" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Instructor ID</th>
      <th>Course Subject</th>
      <th>Course Level</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof courses != "undefined" && courses.length > 0){ %>
    <% courses.forEach(function(course){ %>
      <tr>
        <td><%= course.class_id %></td>
        <td><%= course.instructor_id %></td>
        <td><%= course.subject %></td>
        <td><%= course.course %></td>
        <td class="text-center">
          <button class="btn btn-primary" id="editButton" data-courseid="<%= course.class_id %>">edit</button>
          <button class="btn btn-danger" id="deleteButton" data-courseid="<%= course.class_id %>">delete</button>
        </td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>

<div style="display: none;" id="deleteConfirm">Are you sure you want to delete this record?</div>

<form action="/delete_course" method="POST" style="display: none;" id="deleteform">
  <input type="hidden" name="class_id" value="2">
</form>

<form style="display: none;" action="" method="POST" class="form-horizontal" id="manageCourseForm">
  <input type="hidden" name="class_id">
  <div class="form-group">
    <label for="instructor_id" class="col-sm-2 control-label">Instructor ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="instructor_id" name="instructor_id" placeholder="2">
    </div>
  </div>
  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">Course Subject</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="subject" name="subject"  placeholder="History" required>
    </div>
  </div>
  <div class="form-group">
    <label for="course" class="col-sm-2 control-label">Course Level</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="course" name="course" placeholder="101">
    </div>
  </div>
</form>
